body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('glassclad-skyscrapers-central-mumbai-reflecting-sunset-hues-blue-hour.jpg' ); /* Path to your image */
  
    background-repeat: no-repeat;
    height: 100vh; /* Full height of the viewport */
    background-size: cover;
    background-position: center;
    animation: gradientAnimation 15s ease infinite;
    background: linear-gradient(135deg, #c06b6e, #904d3a, #a02a7d, hsl(258, 92%, 14%));
     
}

header {
    background-color:rgb(70, 0, 135); 
    color: rgb(33, 3, 108);
    padding: 1rem;
    text-align: left;
    position: fixed;
}
nav {
    background-color: rgba(39, 30, 222, 0.8); /* Semi-transparent background */
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure it stays on top of other content */
}

nav ul {
    background-color: #17153B; /* Semi-transparent background */
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem; 
}

nav ul li a {
    text-decoration: none;
    color: #58b35b;
}

main {
    padding: 1rem;
    background-color:linear
}

footer {
    background-color: 240750; /* Semi-transparent background */
  
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
